{% extends "base.html" %}

{% block title %}Manage CPUs{% endblock %}

{% block styles %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">
<style>
    /* Ensure sorting icons are visible */
    table.dataTable > thead .sorting:before,
    table.dataTable > thead .sorting:after,
    table.dataTable > thead .sorting_asc:before,
    table.dataTable > thead .sorting_asc:after,
    table.dataTable > thead .sorting_desc:before,
    table.dataTable > thead .sorting_desc:after,
    table.dataTable > thead .sorting_asc_disabled:before,
    table.dataTable > thead .sorting_asc_disabled:after,
    table.dataTable > thead .sorting_desc_disabled:before,
    table.dataTable > thead .sorting_desc_disabled:after {
        position: absolute;
        display: block;
        opacity: 0.5;
    }
    
    table.dataTable > thead .sorting:hover:before,
    table.dataTable > thead .sorting:hover:after {
        opacity: 1;
    }
    
    /* Adjust the table header padding to accommodate icons */
    table.dataTable > thead > tr > th {
        position: relative;
        padding-right: 25px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-8">
            <h2>CPUs</h2>
        </div>
        <div class="col-md-4 text-end">
            <a href="{{ url_for('inventory.add_cpu') }}" class="btn btn-primary">Add New CPU</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="cpusTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Manufacturer</th>
                            <th>Model</th>
                            <th>Speed</th>
                            <th>Cores</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cpu in cpus %}
                        <tr>
                            <td>{{ cpu.manufacturer }}</td>
                            <td>{{ cpu.model }}</td>
                            <td>{{ cpu.speed }}</td>
                            <td>{{ cpu.cores }}</td>
                            <td>
                                <a href="{{ url_for('inventory.edit_cpu', id=cpu.id) }}" class="btn btn-sm btn-warning">Edit</a>
                                <form action="{{ url_for('inventory.delete_cpu', id=cpu.id) }}" method="POST" class="d-inline">
                                    {{ form.csrf_token }}
                                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>

<script>
$(document).ready(function() {
    $('#cpusTable').DataTable({
        pageLength: 10,
        dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>' +
             '<"row"<"col-sm-12"tr>>' +
             '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
        language: {
            search: "Search:",
            lengthMenu: "Show _MENU_ entries",
            info: "Showing _START_ to _END_ of _TOTAL_ entries",
            paginate: {
                first: "First",
                last: "Last",
                next: "Next",
                previous: "Previous"
            }
        }
    });
});
</script>
{% endblock %} 