{% extends "base.html" %}

{% block title %}{{ category.name }} - Wiki{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('wiki.wiki_home') }}">Wiki</a></li>
                    <li class="breadcrumb-item active">{{ category.name }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{ category.name }}</h2>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        {% for page in pages %}
                        <a href="{{ url_for('wiki.view_page', id=page.id) }}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ page.title }}</h5>
                                <small>{{ page.updated_at.strftime('%Y-%m-%d') }}</small>
                            </div>
                            <p class="mb-1">{{ page.content|striptags|truncate(140) }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 